pydantic   
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
sentence-transformers
faiss-cpu
PyPDF
langchain_google_genai
langchain-pinecone

